<!-- <p>dashboard works!</p>
<br>
<br>
<br>

<h1>user dashboard</h1>
 --> 
 
<br><br><br>
    <div class="bg-img"><br>
       <h1 style="color: white; padding-left: 20px;">Feedback</h1>
       <div class="content">
            
            <form #myform="ngForm" (ngSubmit)="addfeedback(myform.form.value)">            
              <div class="form-group">
                <textarea name="" id="input" class="form-control" rows="7" placeholder="your precious feedback if any,"></textarea>
              </div>
            
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
       </div>
    </div>
   
 